{
    "semi": true,
    "singleQuote": true,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "vueIndentScriptAndStyle": true,
    "singleAttributePerLine": true,
    "tabWidth": 4,
    "printWidth": 100
}
